@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

*,
*::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root{
    --clr-Violet: hsl(257, 40%, 49%);
    --clr-Soft-Magenta: hsl(300, 69%, 71%);
    --ff-poppins: 'Open Sans', sans-serif;
    --ff-open-sans: 'Poppins', sans-serif;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--clr-Soft-Magenta);
}

img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    max-width: var(--max-width);
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


.btn{
    display: inline-block;
    border-radius: 8px;
    padding: 0.8em 1.5rem;
    margin-top: 0.5rem;
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    /* Customize */
    background-color: #1c2042;
    color: #fff;
    border: 2px solid #1c2042;
}

body{
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: var(--clr-Violet);

    height: 100vh;
    width: 100vw;
    padding: 2rem 2rem;
    
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.navbar{
    height: 5rem;
}

.logo{
    width: 180px;
    height: 100px;
}

.header{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.header-right-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.header-title{
    color: white;
    font-size: 2rem;
    font-family: var(--ff-open-sans);
    font-weight: 400;
}

.footer{
    height: 5rem;
}

@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 991px) {
    body{
        background-image: url(../images/bg-desktop.svg);
    }

    header{
        flex-direction: column;
    }
    
}

@media screen and (min-width: 1200px) {
    
}